<div class="container caja ">


    <table class="table tabla table-secondary ">

        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre</th>
                <th scope="col">Horas Normal</th>
                <th scope="col">Horas Extras</th>
                <th scope="col">Sueldo</th>
            </tr>
        </thead>
        <thead>
            <tbody>
                <tr *ngFor="let empleado of empleados; let i = index">
                    <th scope="row">{{i +1}}</th>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.hs_normales}}</td>
                    <td>{{empleado.hs_extras}}</td>
                    <td>{{empleado.sueldo|currency}}</td>
                    <td><button type="button" class="btn btn-danger" (click)="deleteEmpleado(i)">Eliminar</button></td>


                </tr>

            </tbody>

    </table>
    <div *ngIf="empleadoEncontrado">
        {{empleadoEncontrado.nombre}}
    </div>

</div>